page-in-visum-search {


    
  ion-card {
  
    .my-card-title {
      font-size:8vmin;
    }
    .my-card-text {
      font-size:4vmax;
    
    }
    ion-icon {
      font-size:20vmin;  
    }  
  }
}
