page-in-visum-search {


    
  ion-card {
  
    .my-card-title {
      font-size:6vmin;
    }
    .my-card-text {
      font-size:3vmax;
    
    }
    ion-icon {
      font-size:15vmin;  
    }  
  }
}
