<ion-header>

  <ion-navbar>
    <ion-title>{{ 'SEARCH_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-searchbar (ionInput)="getItems($event)" placeholder="{{ 'SEARCH_PLACEHOLDER' | translate }}"></ion-searchbar>
  <ion-list>
    <div padding>
      <ion-segment [(ngModel)]="pet">
        <ion-segment-button (click)="set.remove_all()" value="kittens">
          Limpar
        </ion-segment-button>
        <ion-segment-button (click)="workList()" value="cubs">
          Lista {{ set.size() }}
        </ion-segment-button>
        <ion-segment-button value="puppies">
          Trabalhar
        </ion-segment-button>
      </ion-segment>
    </div>
    <ion-card  *ngFor="let item of currentItems">
      <ion-card-content>
        <div><reputation-icon item-left icon="star" reputation={{item.rating}} ></reputation-icon>{{ item.title }}</div>
      
        <p (click)="openItem(item)">{{ (item.about) }}</p>
        <ion-item>
          <ion-icon *ngIf=" set.exist(item)" name="remove-circle" item-left (click)="set.remove(item)" ></ion-icon>
          <ion-icon *ngIf="!set.exist(item)" name="add-circle" item-left (click)="set.add(item)" ></ion-icon>
          <p>{{ item.owner }}</p>
        </ion-item>
      </ion-card-content>


    </ion-card>
  </ion-list>
</ion-content>
