<ion-header>

  <ion-navbar>
    <ion-title>Configurar Plot</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <button ion-button block (click)="getGraphType()" >  {{ pH.getFromCurrent('type') || 'selecione o tipo de Gráfico'}}</button>
  <button ion-button block (click)="getWorkingSet()" >  {{ null || 'selecione o Dataset'}}</button>
  <button *ngFor="let j of pH.getBasicParam()" outline ion-button block (click)="getInput(j)" > {{j[0]}} : {{pH.getFromCurrent(j[0])||'valor padrão' }}</button>  
  <button *ngFor="let i of pH.getTypeParam()"  outline ion-button block (click)="getInput(i)" > {{i[0]}} : {{pH.getFromCurrent(i[0])||'valor padrão' }}</button>
  <ion-fab bottom right >
    <button ion-fab (click)="createGraph()" ><ion-icon name="md-arrow-dropleft"></ion-icon></button><!--Should be accessable if all needed options are ok. Then, make graph and display on screen-->
  </ion-fab>
</ion-content>
