page-in-visum-welcome {

  ion-navbar {
    text-align: center;
    vertical-align: middle;
    font-size: 30px  
  }

  h1 {
    text-align :center;
  }

  .splash-bg {
    position: relative;
    background: url('../assets/img/in_visum_vertical_logo.png') repeat-x transparent;
    background-size: cover;
    height: 35%;
    z-index: 1;
    background-repeat: repeat-x;
    animation: animatedBackground 40s linear infinite;
  }

  @keyframes animatedBackground {
    from { background-position: 0 0; }
    to { background-position: 100% 0; }
  }

  .search-button {
    position: sticky;
    left: 95%;

  }

  .featured-sets {  
    text-align: center;
  }

  .splash-logo {
    margin: auto;
    background: url('../assets/img/in_visum_appicon.jpeg');/* repeat transparent;*/
    background-size: 50%;     
    background-origin: inherit;
    background-position: center; 
    background-repeat: no-repeat;
  }
  button.busca {
    text-align: center;
    /*width: 48%;*/
  }
  button.login {
    text-align: center;
    /*width: 48%;*/
    background-color: white;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    color: #333;

    &.activated {
      background-color: rgb(220, 220, 220);
    }
  }
  
  .bottom-text {
    padding: 3%
  
  }
  .footer {
    background-color: color($colors, dark, base);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5%;
    text-align: center;
    font-size:4vh;
  }
  button.FAQ {
    /*float: left;*/
    width: 32%;
  }
  button.API {
    /*text-align: center;*/
    width: 32%;
  }
  button.Legal {
    /*float: right;*/
    width: 32%;
  }
}
