<ion-header>

  <ion-navbar>
    <ion-title>Lista de datasets</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <ion-card  *ngFor="let item of currentItems">
      <ion-card-content item-left icon-right>
        <ion-grid>
          <ion-row>
            <ion-col col-10 align-self-start [ngStyle]="{'margin-bottom':'auto','margin-top':'auto'}" class="my-card-title" >{{ item.title }}</ion-col>
            <ion-col col-2>
              <ion-icon class="my-card-icon" *ngIf=" set.exist(item)" name="remove-circle" large (click)="set.remove(item)" ></ion-icon>
              <ion-icon class="my-card-icon" *ngIf="!set.exist(item)" name="add-circle"    large  (click)="set.add(item)" ></ion-icon>        
            </ion-col>            
          </ion-row>
        </ion-grid>
        <!--<reputation-icon item-left icon="star" reputation={{item.rating}} ></reputation-icon>-->
        <p class="my-card-text" (click)="openItem(item)">{{ (item.about) }}</p>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
